<app-navbar-without-login></app-navbar-without-login>
<div class="card-deck" style="margin:auto;width: 80%;display: -webkit-box">
  <div class="card" style="align-items: center; background-color: transparent;border: transparent">
    <img src="../../assets/_username_login_1172579.png" class="card-img-top" alt="..." style="width: 200px;height:200px">
    <div class="card-body" style="text-align: center">
      <h5 class="card-title">Login</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card" style="align-items: center; background-color: transparent;border: transparent">
    <img src="../../assets/incognito-mode-privacy-cool-mom-tech.jpg" class="card-img-top rounded-circle img-fluid" alt="..." style="width: 200px; height:200px">
    <div class="card-body" style="text-align: center">
      <h5 class="card-title" >Browse</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card" style="align-items: center; background-color: transparent;border: transparent">
    <img src="../../assets/want56710-1Nlr8H1511706177.png"  alt="..." style="width: 250px;height:200px">
    <div class="card-body" style="text-align: center">
      <h5 class="card-title">Upload</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>


<hr class="clearfix  rgba-white-light" style="margin: 2% 15% 3%;">
  <div style="margin-left: 5%"><h4 style="color: rgb(252, 198, 22);border-color: rgb(252, 198, 22) "><b>Recommended</b> For You</h4></div>

<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" style="height: 600px;">
  <!--Controls-->
  <div class="controls-top" style="margin: 3% ;align-self: auto;">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev" style="margin-left: 39%;color: rgb(252, 198, 22)"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" style="padding-left: 20%;color: rgb(252, 198, 22)" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators" style="margin-top: 10%;">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox" >

    <!--First slide-->
    <div class="carousel-item active" style="margin-left:17%;width: 100%">
      <div class="col-md-3">
        <div class="card mb-2">
          <img class="card-img-top"
            src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary" style="background-color: rgb(252, 198, 22);color: white;border-color: rgb(252, 198, 22)">Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-2">
          <img class="card-img-top"
            src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary" style="background-color: rgb(252, 198, 22);color: white;border-color: rgb(252, 198, 22)">Button</a>
          </div>
        </div>
      </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item" style="margin-left: 17%">

      <div class="col-md-3">
        <div class="card mb-2">
          <img class="card-img-top"
            src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary" style="background-color: rgb(252, 198, 22);color: white;border-color: rgb(252, 198, 22)">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-2">
          <img class="card-img-top"
            src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary" style="background-color: rgb(252, 198, 22);color: white;border-color: rgb(252, 198, 22)">Button</a>
          </div>
        </div>
      </div>

    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item" style="margin-left: 17%">
      <div class="col-md-3">
        <div class="card mb-2">
          <img class="card-img-top"
            src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary" style="background-color: rgb(252, 198, 22);color: white;border-color: rgb(252, 198, 22)">Button</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-2">
          <img class="card-img-top"
            src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-primary" style="background-color: rgb(252, 198, 22);color: white;border-color: rgb(252, 198, 22)">Button</a>
          </div>
        </div>
      </div>

    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
<app-footer></app-footer>


