<app-navbar></app-navbar>
<div style="margin-left: 5%"><h3 style="color:   #ef6c00"><b>Recommended</b> For You</h3></div>
<div class="card-deck" style="margin:auto;width: 90%;margin-top: 2%" >
  <div class="card" style="align-items: center;background: transparent" id="recommenddiv">
    <img src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif" class="card-img-top" alt="..." style="border-radius:5%">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center;color: rgb(0, 0, 0)">Project 1</h4>
      <p class="card-text" style="text-align:center">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card" style="align-items: center;background: transparent" id="recommenddiv">
    <img src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif" class="card-img-top" alt="..." style="border-radius:5%">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center;color: rgb(0, 0, 0)">Project 2</h4>
      <p class="card-text" style="text-align: center">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card" style="align-items: center;background: transparent" id="recommenddiv">
    <img src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif" class="card-img-top" alt="..." style="border-radius:5%">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center;color: rgb(0, 0, 0)">Project 3</h4>
      <p class="card-text" style="text-align:center">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
  <div class="card" style="align-items: center;background: transparent" id="recommenddiv">
    <img src="../../assets/12_funny-and-inspiring-graphic-design-related-gifs.gif" class="card-img-top" alt="..." style="border-radius:5%">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center;color: rgb(0, 0, 0)">Project 4</h4>
      <p class="card-text" style="text-align:center">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>

<div style="margin-top:3%;display: flex;margin-left: 5%">
    <div>
      <h4 style="color:#ef6c00"><b>Bring</b> your creative project to life</h4>
      <div>
        <input class="btn" id="projectbtn" type="button" value="Start a project" style="background-color:#ef6c00 ;color: white;font-weight: bold;width: 50%;height: 
        50px;font-size: 20px;margin-left:23%;margin-top: 20%">
      </div>
    </div>
    <div style="margin-left: 45%;">
      <h4 style="color:#ef6c00"><b>Your</b> Repository</h4>
      <div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item" style="background: transparent">Cras justo odio</li>
              <li class="list-group-item" style="background: transparent">Dapibus ac facilisis in</li>
              <li class="list-group-item" style="background: transparent">Morbi leo risus</li>
              <li class="list-group-item" style="background: transparent">Porta ac consectetur ac</li>
              <li class="list-group-item" style="background: transparent">Vestibulum at eros</li>
            </ul>
      </div>
    </div>
    <button class="btn btn-primary" (click)="downloadFile()"><i class="fa fa-file-pdf-o"></i> Download</button>

  </div>
  <app-footer></app-footer>
